*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

input {
    outline: none !important;
}

input[type="submit"]:disabled {
    background: #afb3b3 !important;
}

button:disabled {
    background: #afb3b3 !important;
}

a {
    text-decoration: none;
    color: black;
}

.css-2m9kme-MuiFormControl-root {
    width: 70vw !important;
    margin: 0 0 20px 0 !important;
}